:root {
    --rose-800-color: #7A284E;
    --rose-50-color: #FFF7FB;
    --stone-900-color: #312E2C;
    --stone-600-color: #5F564D;
    --stone-150-color: #E3DDD7;
    --stone-100-color: #F3E5D7;
    --brown-800-color: #854632;
    --white-color: #FFFFFF;

    --font-family-preset-1: "Young Serif", serif;
    --font-family-preset-2: "Young Serif", serif;
    --font-family-preset-3: "Outfit", sans-serif;
    --font-family-preset-4: "Outfit", sans-serif;

    --font-size-preset-1: 2.5rem; /* 40px */
    --font-size-preset-2: 1.75rem; /* 28px */
    --font-size-preset-3: 1.25rem; /* 20px */
    --font-size-preset-4: 1rem; /* 16px */

    --line-height-100: 1; /* 100% */
    --line-height-150: 1.5; /* 150% */

    --letter-spacing-0: 0;
  }
  html{
    background-color: var(--stone-150-color);
  }
  /* Text Preset 1 */
  .text-preset-1 {
      font-family: var(--font-family-preset-1);
      font-size: var(--font-size-preset-1);
      line-height: var(--line-height-100);
      letter-spacing: var(--letter-spacing-0);
  }

  /* Text Preset 2 */
  .text-preset-2 {
      font-family: var(--font-family-preset-2);
      font-size: var(--font-size-preset-2);
      line-height: var(--line-height-100);
      letter-spacing: var(--letter-spacing-0);
  }

  /* Text Preset 3 */
  .text-preset-3 {
      font-family: var(--font-family-preset-3);
      font-size: var(--font-size-preset-3);
      line-height: var(--line-height-100);
      letter-spacing: var(--letter-spacing-0);
      font-weight: 600; /* SemiBold */
  }

  /* Text Preset 4 */
  .text-preset-4 {
      font-family: var(--font-family-preset-4);
      font-size: var(--font-size-preset-4);
      line-height: var(--line-height-150);
      letter-spacing: var(--letter-spacing-0);
      font-weight: 400; /* Regular */
  }

  /* Text Preset 4 Bold */
  .text-preset-4-bold {
      font-family: var(--font-family-preset-4);
      font-size: var(--font-size-preset-4);
      line-height: var(--line-height-150);
      letter-spacing: var(--letter-spacing-0);
      font-weight: 700; /* Bold */
  }


    * {
      margin: 0;
      padding: 0;
    }
    
    body{
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 2.5rem;
      margin: 0 auto;
      font-family: 'Outfit', 'sans-serif';
      line-height: 1.5;
      letter-spacing: 0;
      color: var(--stone-600-color);
      background-color: var(--white-color);
      max-width: 60%;
    }

    header{
      width: 100%;
    }

    .top-image{
      border-radius: 0.75rem;
      width: 100%;
    }

    main {
      width: 100%;
    }

    article{
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }

    section{
      background-color: var(--stone-150-color);
    }

    h1 {
      padding: 0;
      margin-top: 1rem;
      color: var(--stone-900-color);
    }

    h2 {
      color: var(--brown-800-color);
      margin-bottom: 1.5rem;
    }

    strong{
      color: var(--stone-600-color);
    }

    li {
      padding-left: 1rem;
      margin-bottom: 0.5rem;
    }

    ul, ol{
      padding-left: 1.5rem;
    }
    /*----------------------------DESCRIPTION------------------------------*/

    /*----------------------------PREPARATION------------------------------*/
    .preparation-time {
      background-color: var(--rose-50-color);
      padding: 1.5rem;
      border-radius: 0.75rem;
    }

    .preparation-time>h3{
      color: var(--rose-800-color);
      margin-bottom: 1rem;
    }

    .preparation-time>ul{
      padding-left: 1.5rem;
    }

    .preparation-time ul li::marker{
      color: var(--rose-800-color);
      font-size: 1rem;
    }

    /*----------------------------INGREDIENTS------------------------------*/
    .ingredients ul li::marker{
      color: var(--brown-800-color);
      font-size: 1rem;
    }


    /*----------------------------INSTRUCTIONS------------------------------*/
    .instructions ol li::marker{
      color: var(--brown-800-color);
      font-size: 1rem;
      font-weight: 700;
    }

    /*----------------------------NUTRITION------------------------------*/
    .nutrition p {
        margin-bottom: 1.25rem;
    }

    .nutrition table {
        width: 100%;
        border-collapse: collapse;
        text-align: left;
    }

    .nutrition th {
        color: var(--stone-600-color);
        width: 50%;
    }

    .nutrition td {
          color: var(--brown-800-color);
    }

    .nutrition td, th{
      padding: 0.75rem 2rem;
    }
    .nutrition tr:not(:last-child) {
        border-bottom: 1px solid var(--stone-150-color);
    }

    /*----------------------------FOOTER------------------------------*/
    footer{
      width: 100%;
    }